.contact-heading1 {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
}

.contact-heading2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 0px;
}

.contact-heading3 {
    font-size: 22px;
    margin-bottom: 60px;
    font-weight: 200;
}

.ready-text-br {
    display: none;
}

.contact-img {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    filter: saturate(2);
}

.idea-to-life {
    font-size: 40px;
    margin-bottom: 50px;
}

.social-link {
    color: #2b56b2;
}

a.social-link {
    text-decoration: none;
}

a.social-link:hover {
    text-decoration: underline;
}

.social-block {
    border: 2px solid #3a4061;
    display: inline-block;
    padding: 20px 20px 0px 20px;
    box-shadow: 3px 3px 6px #888888;
    margin-bottom: 60px;
}

.pen {
    width: 450px;
    margin-bottom: 50px;
}

.let-me-know {
    margin-bottom: 60px;
    margin-top: 10px;
}

@media (max-width: 805px) {
    .contact-heading1 {
        margin-top: 70px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 32px;
        margin-bottom: 0px;
    }

    .contact-heading2 {
        font-size: 20px;
        margin-bottom: 16px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .ready-text-br {
        display: block;
    }

    .contact-heading3 {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 200;
    }

    .contact-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .idea-to-life {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .social-block {
        margin-bottom: 40px;
    }

    .pen {
        width: 220px;
        margin-bottom: 25px;
    }

    .let-me-know {
        margin-bottom: 32px;
        margin-top: 0px;
    }
}